<div class="sidebar">
    <h2>Sentiment AI</h2>
    <ul>
        <li class="{% if request.endpoint == 'home' %}active{% endif %}">
            <a href="{{ url_for('home') }}">🏠Home</a>
        </li>
        <li class="{% if request.endpoint == 'predict' %}active{% endif %}">
            <a href="{{ url_for('predict') }}">📈Predict</a>
        </li>
        <li class="{% if request.endpoint == 'history' %}active{% endif %}">
            <a href="{{ url_for('history') }}">🕒History</a>
        </li>
        {% if 'username' in session %}
        <li>
            <a href="{{ url_for('logout') }}">🚪Logout</a>
        </li>
        {% else %}
        <li class="{% if request.endpoint == 'login' %}active{% endif %}">
            <a href="{{ url_for('login') }}">🔐Login</a>
        </li>
        <li class="{% if request.endpoint == 'register' %}active{% endif %}">
            <a href="{{ url_for('register') }}">📝Register</a>
        </li>
        {% endif %}
    </ul>
</div>
